
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Base of everything */
body {
    font-family: "Red Hat Display", sans-serif;    
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    width: 98%;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900 */

.red-hat {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.banner-top {
    background-color: rgb(255, 255, 255);
    font-family: "Madimi One", sans-serif;
    font-size: 75px;;
    padding: 20px 20px;
    text-align: left;
    height: 110px;
    width: 100%;
    position: relative;
    z-index: 3;
}
.banner-top p {
    margin: 0;
}
.banner-bar {
    background-color: #e73b32;
    font-family: "Madimi One", sans-serif;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    width: 102%;
}
.banner-bar a {
    color: white;
    font-size: 30px;
    margin-right: 40px;
}


header {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-left: 37%;
}

main {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    align-self: center;
    text-align: center;
    /* background-color: blueviolet; */
}

section {
    padding: 10px;
    /* margin-bottom: 20px; */
    border-radius: 5px;
    /* background-color:aqua; */
    width: 100%;
    text-align: center;
}

.content {
    margin-top: 50px;
    padding: 10px;
    margin-left: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: chartreuse; */
    width: 70%;
    text-align: center;
}

/* Side bar */
.sidebar {
    font-family: "Red Hat Display", sans-serif;    
    text-align: center;
    width: 250px;
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    top: 0px; 
    left: 0;
    height: 100%;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.4);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

/* sidebar vertical-ness */
.sidebar ul li {
    padding: 10px;
    /* border-bottom: 1px solid #000000; */
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    color: #b6b6b6;    /* change for the sidebar text */
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    color: #e73b32;
    font-weight: 500;
    font-size: 25px;
}

.photo-section {
    margin-top: 20px;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* justify-content: space-between; */
}

.photo {
    flex-basis: calc(40% - 5px); /* Adjust the width of each photo */
}

.photo img {
    width: 100%;
    height: auto;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
